<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <base href="/" />

    @Html.Raw(ViewBag.HeadContent)
</head>
<body>

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>

    <div id="root"></div>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
